<a href="https://colab.research.google.com/github/LuckyEjenaviSalomi/Data-Science_new/blob/main/1.%20Intro%20to%20Python/2.%20Intro_to_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a + b

In [2]:
type(add)

float

### 2. Is 5 == (3+2)?

In [3]:
5 == (3+2)

True

### 3. Add 33 to variable *a* and print the result

a = 3

In [5]:
a = 3
print(a + 33)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [7]:
a = 3
a = float(a)
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [8]:
a = 10
a * 5

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [9]:
b = 10
h = 5
area_triangle = (1/2) * (b * h)
area_triangle

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

In [10]:
v = 10

w = 25

x = 70

y = 2

z = (v + w) * (x / y)
z

1225.0

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [11]:
a = 10
b = 5
a, b = b, a

In [14]:
print(a, b, sep="\n")

5
10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [15]:
c = 35
f = (c * 9/5) + 32
f

95.0