<a href="https://colab.research.google.com/github/LuckyEjenaviSalomi/Data-Science_new/blob/main/2.%20Intro_to_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

### 2. Is 5 == (3+2)?

### 3. Add 33 in variable *a* and print the result

a = 3

### 4. Convert integer variable *a* to float and check its type

a = 3

### 5. What will be 5 times *a* if the value of a is 10?

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

### 9. Convert 35 degree Celsius temperature to Fahrenheit