<a href="https://colab.research.google.com/github/LuckyEjenaviSalomi/Data-Science_new/blob/main/1.%20Intro%20to%20Python/4.%20Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CONDITIONAL STATEMENTS EXERCISE**

### 1. Check if a is equal to 10, If yes, print "Hello", else print "Good Bye"
a = 56

In [7]:
a = 56

In [8]:
msg = ''
if a == 10:
  msg ='Hello'
else:
  msg = 'Good Bye'
print(msg)

Good Bye

### 2. Check whether a number is even or odd
a = 2020

In [12]:
a = 2020
result = 'odd'
if a % 2 == 0:
  result = 'even'
print(result)

even

### 3.  Check whether the area of the rectangle is greater than the perimeter of the rectangle
length = 5
breadth = 10

Hint: Area of rectangle = length * breadth

Hint: Perimeter of rectangle = 2 * (length + breadth)

In [16]:
length, breadth = 5, 10
area_rec = length * breadth
per_rec = 2 * (length + breadth)
print(f'Is the area and perimeter of the rectangle equal? {area_rec == per_rec}')

Is the area and perimeter of the rectangle equal? False

### 4. Calculate the average marks of a student in 5 subjects and give grades accordingly:
If average>90 then Grade = A

If average>80 then Grade = B

If average>70 then Grade = C

If average>60 then Grade = D

If average>50 then Grade = E

else Fail

Marks in subject 1= 72

Marks in subject 2= 85

Marks in subject 3= 96

Marks in subject 4= 42

Marks in subject 5= 95

In [23]:
def get_grade(score: float)-> list:
  grade = None
  if score > 90:
    grade = 'A'
  elif score > 80:
    grade = 'B'
  elif score > 70:
    grade = 'C'
  elif score > 60:
    grade = 'D'
  elif score > 50:
    grade = 'E'
  else:
    grade = 'F'
  return grade

In [36]:
subjects = ['subject 1', 'subject 2', 'subject 3', 'subject 4', 'subject 5']
scores = [72, 85, 96, 42, 95]
grades = map(get_grade, scores)
results = dict(zip(subjects, zip(scores, grades)))
results

{'subject 1': (72, 'C'),
 'subject 2': (85, 'B'),
 'subject 3': (96, 'A'),
 'subject 4': (42, 'F'),
 'subject 5': (95, 'A')}

###  5. Check if a triangle is equilateral, isosceles or scalene.

Hint :
1. An equilateral triangle is a triangle in which all three sides are equal.

2. A scalene triangle is a triangle that has three unequal sides.

3. An isosceles triangle is a triangle with (at least) two equal sides.

Dimensions of triangle:

side 1 = 6

side 2 = 8

side 3 = 12

In [42]:
sides = [6, 8, 12]

In [49]:
result = []
for i in range(len(sides)):
  result.extend([side == sides[i] for side in sides])

In [54]:
no_equal_sides = sum(result)/3
msg = ''
if no_equal_sides == 1:
  msg = 'scalene'
elif no_equal_sides == 2:
  msg = 'isosceles'
else:
  msg = 'equilateral'
print(msg + 'triangle')

scalenetriangle

### 6. Check if the word "Data" is present in the sentence "I am a Data Scientist". If found print "It is present" else print FALSE

In [59]:
word = 'Data'
sentence = 'I am a Data Scientist'
print(word.casefold() in sentence.casefold())

True

### 7. Write Python code to check if a number is positive or negative.

In [63]:
number = -2
print(number < 0)

True

### 8. x = 20 and y = 30. Write a Python code to check if x is less than y.

In [64]:
x, y = 20, 30
print(x < y)

True

### 9. Based on the users age, divide them into three groups
    Group 1 : Age <18 , Minors who are not eligible to work
    Group 2 : 18 < Age < 60 , Eligible to work
    Group 3 : Age > 60, Too old to work as per govt. regulations.

### Write a Python code for the same

In [66]:
age = 70
group = None
if age < 18:
  group = 'Minors who are not eligible to work'
elif 18 < age < 60:
  group = 'Eligible to work'
elif age > 60:
  group = 'Too old to work as per govt. regulations.'

print(group)

Too old to work as per govt. regulations.

### 10. From the age of 3 people determine the oldest person among them.
Age of first person = 25

Age of second person = 34

Age of third person = 45

In [67]:
ages = [25, 34, 45]
max(ages)

45