<a href="https://colab.research.google.com/github/LuckyEjenaviSalomi/Data-Science_new/blob/main/1.%20Intro%20to%20Python/5.%20Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [10]:
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [11]:
num = 1
while num <= 10:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10

### 3. Using for loop print first ten even numbers

In [12]:
num = 0
for i in range(10):
  print(num)
  num += 2

0
2
4
6
8
10
12
14
16
18

### 4. Using while loop generate the table of 5

In [23]:
num = 1
while num <= 12:
  print(f'5 x {num:>2} = {5*num:>3}')
  num += 1

5 x  1 =   5
5 x  2 =  10
5 x  3 =  15
5 x  4 =  20
5 x  5 =  25
5 x  6 =  30
5 x  7 =  35
5 x  8 =  40
5 x  9 =  45
5 x 10 =  50
5 x 11 =  55
5 x 12 =  60

### 5. Using for loop generate the table of 8

In [26]:
for i in range(1, 13):
  print(f'8 x {i:>2} = {8 * i:>2}')

8 x  1 =  8
8 x  2 = 16
8 x  3 = 24
8 x  4 = 32
8 x  5 = 40
8 x  6 = 48
8 x  7 = 56
8 x  8 = 64
8 x  9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [29]:
result = None
for num in range(1, 101):
  result = num
  if num % 3 == 0 and num % 5 == 0: # num divisible by both 3 and 5
    result = 'FizzBuzz'
  elif num % 3 == 0: # num divisible by 3
    result = 'Fizz'
  elif num % 5 == 0: # num divisible by 5
    result = 'Buzz'
  print(result)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [34]:
total = 0
for num in range(1, 101):
  total += num
print(total)

5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [40]:
[num for num in range(202, 321) if num % 7 == 0 and num % 5 != 0]

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [45]:
st = "Data Science"
vowels = ['a', 'i', 'e', 'o', 'u']
sum([char.casefold() in vowels for char in st])

5

### 10. Print Data Science 5 times using for loop

In [48]:
for i in range(5):
  print(f"{i+1}. Data Science")

1. Data Science
2. Data Science
3. Data Science
4. Data Science
5. Data Science