<a href="https://colab.research.google.com/github/LuckyEjenaviSalomi/Data-Science_new/blob/main/1.%20Intro%20to%20Python/6.%20Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **USER DEFINED FUNCTION AND LAMBDA FUNCTIONS EXERCISE**

### 1. Write a function to add, subtract, multiply and divide two variables passed to it and print the result

In [4]:
def two_numbers(num1, num2):
  operations = ['add', 'subtract', 'multiply', 'divide']
  return dict(zip(operations, [num1 + num2, num1 - num2, num1 * num2, num1 / num2]))

In [6]:
# test function
two_numbers(4, 2)

{'add': 6, 'subtract': 2, 'multiply': 8, 'divide': 2.0}

### 2. Write a Python function given range (1,10) both included, that gives the square of every number

In [9]:
def get_square_range(lower_band: int, upper_band: int):
  return [num ** 2 for num in range(lower_band, upper_band + 1)]

In [11]:
# test function
get_square_range(1, 10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 3. Write a function to calculate simple interest

simple interest = (Principal amount * Annual Rate of interest * Time(in years))/100

Take values as follows

Principal Amount = 1000

Rate of interest = 3%

Time = 5 years

In [13]:
def get_simple_int(principal: float, annual_rate: float, num_years: float)-> float:
  return (principal * annual_rate * num_years)/100

In [14]:
# test function
p = 1000
r = 3
time = 5
get_simple_int(p, 3, 5)

150.0

### 4. Write a function to check the number is divisible by 25. The function should return True if divisible and "Not divisible" if not

In [15]:
def is_divible_by_25(num: float):
  return True if num % 25 == 0 else 'Not divisible'

In [18]:
# test function
num = 50
is_divible_by_25(num)

True

In [19]:
num = 51
is_divible_by_25(num)

'Not divisible'

### 5. Define a function that takes an input, squares it, adds 5, then returns the answer

In [20]:
def get_result(num):
  return num ** 2 + 5

In [21]:
# test function
get_result(3)

14

### 6. Using lambda function perform the following task : take an input, squares it, add 5, then return the answer

In [27]:
x = lambda x: x ** 2 + 5

In [29]:
# test lambda function
x(3)

14

### 7. Write a function to calculate the power of a number raised to other ($a^b$)

In [36]:
def number_raised(a, b):
  return a ** b

In [37]:
# test function
number_raised(2, 3)

8

### 8. Write a function to calculate the area of a triangle

area of triangle = 1/2 * base * height

In [38]:
def area_triangle(base, height):
  return (1/2) * base * height

In [39]:
area_triangle(10, 5)

25.0

### 9. Create a function that takes country as the input and returns "I am from *Country* "

In [40]:
def get_country(country: str)->str:
  return f'I am from {country.capitalize()}'

In [43]:
# test function
get_country("nigeria")

'I am from Nigeria'

### 10. Write a function to convert degree Celsius temperature to Fahrenheit

In [44]:
def celsius_to_fahrenheit(c):
  return c * (9/5) + 32

In [45]:
# test function
celsius_to_fahrenheit(32)

89.6